* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(240, 240, 240);
}

header {
    background-color: aliceblue;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#brand {
    width: 20.875rem;
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1rem;
}

main ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main ul li header .teacher{
    width: 20.3125rem;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
}

main ul li main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ul li main h2 {
    font-size: 1rem;
}

main ul li main span {
    color: deeppink;
}

main ul li main p {
    margin-top: 1rem;
    font-size: .8rem;
    width: 400px;
    text-align: center;
}

main ul li footer button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: deeppink;
    font-size: 1.2rem;
    color: aliceblue;
    cursor: pointer;
    transition: all 900ms;
}

main ul li footer button:hover {
    background-color: rgb(219, 11, 122);
    transform: scale(110%);
}

.footer {
    height: 3.125rem;
    background-color: deeppink;
    display: flex;
    justify-content: center;
    align-items: center;
}