* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 978px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    width: 100vw;
    height: 5rem;
    background-color: black;
}

.scale {
    transform: scale(0);
}

/*Media Query*/
@media (max-width: 680px){
  header .nav-menu .lista-menu {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 5rem);
    top: 5rem;
    left: 0;

    background-color: rgb(71, 71, 71);

    transition: all ease-in .6s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  header .nav-menu .lista-menu li {
    width: 100%;
    padding: 1rem;
    color: aliceblue;
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
  }

  header .nav-menu .lista-menu li:hover {
    background-color: aqua;
  }

  header .nav-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .nav-menu .button-mobile {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    cursor: pointer;
  }

  header .nav-menu .button-mobile span {
    width: 1.875rem;
    height: 0.125rem;
    background-color: aliceblue;
    border-radius: 10px;
  }

  header .nav-menu .button-mobile.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-.25rem, .25rem);
  }

  header .nav-menu .button-mobile.active span:nth-child(2) {
    opacity: 0;
    width: 0;
  }

  header .nav-menu .button-mobile.active span:nth-child(3) {
    transform: rotate(45deg) translate(-.3125rem, -.25rem);
  }
}
/*Media Query Fim*/