* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header {
    width: 100vw;
    height: 9rem;
    background-color: blanchedalmond;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header img {
    width: 12.5rem;
}

.header nav ul {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
}

.header nav ul li a {
    font-size: 1.2rem;
    font-weight: 700;
    color: #4E56FF;
}

.main .cards {
    width: 58.75rem;
    max-width: 100%;
    margin: 2rem auto;
}

.main .cards ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.main .cards ul li article header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.main .cards ul li article {
    width: 12.5rem;
    background-color: #4E56FF;
    border-radius: 8px;
    padding: 1rem;
}

.main .cards ul li article main img {
    width: 100%;
    border-radius: 8px;
} 

.main .cards ul li article main p {
    text-align: center;
}

.main .cards ul li article footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.main .cards ul li article footer a {
    text-decoration: none;
    color: #4E56FF;
}


@media (max-width: 768px) {
    .header {
        justify-content: center;
        gap: 1rem;
    }

    .main .cards ul {
        width: 100%;
    }
}