* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    width: 90vw;
    margin: 3.125rem auto;
    border: 5px solid red;

    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 400px 100px;
    grid-template-areas: "header header"
                         "sidebar content"
                         "footer footer";
}

.item {
    background-color: aqua;
    border: 1px solid black;
}

header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}