#campeonato {
    list-style: decimal;
}


#feira {
    list-style: url('./images/circle.png');
}

#menu {
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 5rem;
    background-color: brown;
    color: aliceblue;
    font-size: 2rem;
    font-weight: bolder;
}